In [9]:
%pip install -U pandas

Collecting pandas
  Using cached pandas-2.2.3-cp313-cp313-macosx_11_0_arm64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.2.1-cp313-cp313-macosx_14_0_arm64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/python/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/python/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/python/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/python/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp313-cp313-macosx_11_0_arm64.whl (11.3 MB)
Using cached numpy-2.2.1-cp313-cp313-macosx_14_0_arm64.whl (5.1 MB)
Installing collected packages: numpy, pandas
Successfully installed numpy-2.2.1 pandas-2.2.3
Note: you may need to restart the kernel to use updated packages.

In [11]:
%pip install -U numpy

Requirement already satisfied: numpy in /opt/anaconda3/envs/python/lib/python3.13/site-packages (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
import numpy as np

In [14]:
data = {
    'Product': ['Laptop', 'Tablet', 'Smartphone', 'Monitor'],
    'Price': [1000, 500, 800, 300],
    'Quantity': [10, 20, 15, 25]
}

In [15]:
df = pd.DataFrame(data)

In [18]:
df

      Product  Price  Quantity
0      Laptop   1000        10
1      Tablet    500        20
2  Smartphone    800        15
3     Monitor    300        25

In [22]:
df['Total'] = df['Price'] * df['Quantity']

In [23]:
df

      Product  Price  Quantity  Total
0      Laptop   1000        10  10000
1      Tablet    500        20  10000
2  Smartphone    800        15  12000
3     Monitor    300        25   7500